<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="place">
	<resultMap id="placeMap" type="place">
		<id column="content_Id" property="contentId"/>
		<result column="address" property="address"/>
		<result column="areac" property="area"/>
		<result column="sigungu" property="sigungu"/>
		<result column="main_Tema" property="mainTema"/>
		<result column="sub_Tema" property="subTema"/>
		<result column="contenttype_Id" property="contenttypeId"/>
		<result column="first_Image" property="firstImage"/>
		<result column="mapx" property="mapx"/>
		<result column="mapy" property="mapy"/>
		<result column="title" property="title"/>
		<result column="tel" property="tel"/>
		<result column="overview" property="overview"/>
	</resultMap>
	
	<!-- 지역검색 -->
	<select id="searchPlace" resultMap="placeMap" parameterType="HashMap">
		SELECT content_Id,address, area, sigungu, main_tema, sub_tema, contenttype_Id, first_Image, mapx, mapy, title, tel 
			FROM PLACE 
				WHERE MAIN_TEMA=#{mainTema} AND SUB_TEMA=#{subTema} AND AREA=#{area} AND SIGUNGU=#{sigungu}
					ORDER BY TITLE
	</select>
	<select id="searchPlaceCount" resultType="_int">
		SELECT COUNT(*) FROM PLACE WHERE MAIN_TEMA=#{mainTema} AND SUB_TEMA=#{subTema} AND AREA=#{area} AND SIGUNGU=#{sigungu}
	</select>
	
	
	<select id="searchTest" parameterType="HashMap" resultMap="placeMap">
		SELECT content_Id,address, area, sigungu, main_tema, sub_tema, contenttype_Id, first_Image, mapx, mapy, title, tel  FROM PLACE WHERE MAIN_TEMA=#{mainTema} AND SUB_TEMA=#{subTema} AND AREA=#{area} AND SIGUNGU=#{sigungu}

	</select>
	
	<select id="searchPlaceTest" resultMap="placeMap" parameterType="HashMap">
		SELECT * FROM PLACE WHERE MAIN_TEMA=#{mainTema} AND SUB_TEMA=#{subTema} AND AREA=#{area} AND SIGUNGU=#{sigungu}
	</select>
	
	<select id="placeParam" resultType="place" >
		SELECT * FROM PLACE WHERE MAIN_TEMA=#{mainTema} AND SUB_TEMA=#{subTema} AND AREA=#{area} AND SIGUNGU=#{sigungu}
	</select>
	
</mapper>
