<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="request">
	<resultMap id="requestMap" type="request">
		<id column="req_no" property="reqNo"></id>
		<result column="member_id" property="memberId"/>
		<result column="planner_id" property="plannerId"/>
		<result column="request_title" property="requestTitle"/>
		<result column="request_content" property="requestContent"/>
		<result column="start_day" property="startDay"/>
		<result column="end_day" property="endDay"/>
		<result column="trasport" property="transport"/>
		<result column="theme" property="theme"/>
		<result column="req_date" property="reqDate"/>
		<result column="approval" property="approval"/>
	</resultMap>
	
	
	<select id="selectRequestList" resultMap="requestMap">
		SELECT * FROM REQUEST WHERE MEMBER_ID = #{id}
	</select>
	
	<select id="requestCount" resultType="_int">
		SELECT COUNT(*) FROM REQUEST WHERE MEMBER_ID = #{id}
	</select>
</mapper>
